*{
    margin: 0;
    padding: 0;
}

.search{
    background-color: rgb(98, 252, 255);
    background: rgb(2,0,36);
    background: linear-gradient(171deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 350px;
}

.search-brand{
    width: 100%;
    text-align: center;
}

.search-brand_span{
    font-size: 25px;
    font-weight: 600;
    color: rgb(157, 224, 255);
}

.search-brand_img{
    margin-top: 10px;
    border-radius: 5px;
    height: 150px;
    width: 100%;
}

@media screen and (min-width:1200px) {


    .search-brand_span{
        font-size: 40px;
        font-weight: 600;
        color: rgb(157, 224, 255);
    }
    .search-brand_img{
        margin-top: 10px;
        border-radius: 5px;
        height: 350px;
        width: 100%;
    }
}

.slideshow-container {  
    position: relative;  
    max-width: 600px;  
    margin: auto;  
    overflow: hidden;  
    margin-top: 10px;
}  
.slides {  
    display: flex;  
    animation: slide 12s infinite; /* Thời gian toàn bộ slideshow */  
}  
.slide {  
    min-width: 100%;  
    transition: transform 1s ease;  
}  
.slide-img {  
    height: 80%;
    width: 100%;  
    height: auto;  
    border-radius: 5px;
}  
@keyframes slide {  
    0% { transform: translateX(0); }  
    20% { transform: translateX(0); } /* Giữ slide đầu tiên */  
    25% { transform: translateX(-100%); } /* Chuyển sang slide thứ hai */  
    45% { transform: translateX(-100%); } /* Giữ slide thứ hai */  
    50% { transform: translateX(-200%); } /* Chuyển sang slide thứ ba */  
    70% { transform: translateX(-200%); } /* Giữ slide thứ ba */  
    75% { transform: translateX(0); } /* Quay lại slide đầu tiên */  
}  


.search-content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.search-content_span{
    padding: 10px 0;
    color: aliceblue;
}

.search-content_input{
    padding: 10px;
    border-color: aliceblue;
}


.search-content_button{
    margin-top: 20px;
    padding: 10px 0;
    border-color: rgb(255, 255, 255);
}


.search-info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.search-info_text{
    padding-top: 5px;
    color: rgba(240, 248, 255, 0.783);
}

